
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: unset;
}

a:hover{
    color: unset;
}

header{
    ul.navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
        li {
            a{
                font-size: 18px;
                font-weight: 600;
            }
        }
    }


    


} 

.div-btn {
    width: 196px;
    display: flex;
    justify-content: center;
}

.div-btn {
    .btn-default {

        background: linear-gradient(180deg, #5F8D4E 0%, #124731 100%);
        color: white;
        border: none;
    }
}



.sec{
    opacity: 0;
    transform: translate(0px, 20px);
    transition: 3.5s;
}


.sec-anim{

    opacity: 1;
    transform: translate(0px, 0px);
    transition: 3.5s;

}

.banner{
    background: linear-gradient(180deg, #124731  0%, #5F8D4E 100%);
padding: 15% 0%;
position: relative;
border-radius: 0px 0px 33px 33px;
overflow: hidden;
.div-banner-image{
    width: 36%;
    display: flex;
    justify-content: end;
    position: absolute;
    bottom: 0%;
    left: 65%;
}


h1{
    font-size: 50px;
}


    .banner-image{
        width: 100%;
       
    }

    .div-store-btn{
        .image-1{
            a{
                img{
                    width: 25%;
                    margin-top: 3%;
                }
            }
        }
    }


}


.heading-anim{
    animation-name: text-anim;
animation-duration: 1.5s;
animation-delay: 0ms;
animation-fill-mode: forwards;

}

@keyframes text-anim {
    
0%{
    opacity: 0;
    transform: translate(0px, 20px);
}

100%{
    opacity: 1;
    transform: translate(0px, 0px);
}

}

.heading-text-anim{
    opacity: 0;
    animation-name: heading-text-anim;
animation-duration: 2.5s;
animation-delay: 0.5s;
animation-fill-mode: forwards;

}

@keyframes heading-text-anim {
    
0%{
    opacity: 0;
    transform: translate(0px, -20px);
}

100%{
    opacity: 1;
    transform: translate(0px, 0px);
}

}


.button-anim{
    opacity: 0;
    animation-name: button-anim;
animation-duration: 1s;
animation-delay: 0.5s;
animation-fill-mode: forwards;

}

@keyframes button-anim {
    
0%{
    opacity: 0;
    transform: rotatey(-190deg);
}

100%{
    opacity: 1;
    transform: rotatey(0deg);
}

}


.sec-2{
    padding: 10% 0%;
    background-image: url(./image/Hunters-1024x756\ 1\ \(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;

    h3{
        font-size: 55px;
        color: #124731;
    
    }
    h4{
      
        margin-bottom: 6%;
    }

    .conten-about{
        
    }

    .app_image_slider{
        img{
            width: 90%;
        }
    }

    .div-btn-animated{
        a{
            display: flex;
            align-items: center;
            width: fit-content;
            font-weight: 600;
            
            .div-arrow-animation {
                background-image: url(./image/Frame\ 1686556216\ \(1\).png);
                background-size: cover;
                background-repeat: no-repeat;
                width: 35px;
                height: 25px;
                transition: 0.5s;
                background-position: right;
                
            }


        
        }

        a:hover .div-arrow-animation{
            background-position: left;
        }


}

    


}


.sec-3{

    .carousel-indicators{
        flex-direction: column;
        bottom: 48px;
        left: 61%;
        
    }

h3{
    font-size: 45px;
    
}

p{
    // font-size: 22px;
}

    .carousel-indicators [data-bs-target]{
        width: 50px;
        height: 50px;
        border: 3px solid #D2B48C;
        margin: 12% 0%;
        border-radius: 100%;
        transition: 0.5s;
        opacity: 1;
        transform: scale(1);
    }

    .carousel-indicators [data-bs-target].active{

        transform: scale(1.5);
    }
    
    .carousel-indicators .testimoni-1{

        background-image: url(./image/testimoni-1.png);
        background-size: cover;

    }
    
    .carousel-indicators .testimoni-2{

        background-image: url(./image/testimoni-2.png);
        background-size: cover;

    }
    
    .carousel-indicators .testimoni-3{

        background-image: url(./image/testimoni-3.png);
        background-size: cover;

    }

    
    
    button.carousel-control-next{
        display: none;
    }
    
    button.carousel-control-prev{
        display: none;
    }
    .div-testimonial {
        background: #FFFFFF;
box-shadow: 1px 1px 80px rgba(0, 0, 0, 0.16);
border-radius: 16px;
        width: 60%;
        padding: 1% 5%;
    margin: 6% 5%;

        .div-quote-top{

            padding: 3% 0%;
        }

        .div-quote-bottom {
            text-align: end;
            padding: 3% 0%;
            
        }
    }
}


.sec-4{
padding: 5% 0%;


    .div-btn-animated{
        h3{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 35px;            
            
            .div-arrow-animation {
                background-image: url(./image/second-arrow.png);
                background-size: cover;
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
                transition: 0.5s;
                transform: rotate(45deg);
                margin-left: 2%;
                
            }
            }


        
        }

        h3:hover .div-arrow-animation{
            transform: rotate(0deg);
        }

}


.sec-5{

    .div-ul {
        display: flex;
        width: 100%;
    

     ul {
        list-style: none;
        padding: 0;
        line-height: 35px;
        width: 50%;


        i.fa-solid.fa-check {
            margin-right: 3%;
            color: #124731;
        }
    }

}
    padding: 5% 0%;


    .col-lg-6{
        display: flex;
        align-items: center;
        
.content{
    h2{
        font-size: 50px;
        span{
            color:#124731 ;
        }
    }


    .div-btn {
        display: flex;
        justify-content: flex-start;
        margin: 2% 0%;
        a {
            background-color: #3c6d41;
            padding: 5% 10%;
            color: white;
            border-radius: 5px;
        }
    }
}

    }

    .div-image{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 75%;
        }
    }
}


.div-heading{
    padding-bottom: 5%;
    h3{
        font-size: 50px;
        text-align: center;
    }
}

.sec-6{

    padding-bottom:5%;

    .contact-form{
width: 100%;
        form{
            width: 100%;
            padding: 0% 14%;

            .div-first {
                width: 50%;
                display: flex;
                flex-direction: column;
            }
            .div-last {
                width: 50%;
                display: flex;
                flex-direction: column;
            }
            
            
            
label{
    font-size: 18px;
    color: gray;
    margin: 2% 0%;
}

            input[type="text"]{
                width: 100%;
                border: 1px solid gray;
                border-radius: 40px;
                padding: 2% 2%;

            }
            
            input[type="email"]{
                width: 100%;
                border: 1px solid gray;
                border-radius: 40px;
                padding: 1% 2%;
                
            }


            
            textarea{
                width: 100%;
                border: 1px solid gray;
                border-radius: 67px;
                padding: 2% 3%;
                height: 153px;

                
            }

            .div-submit-btn {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 3% 0%;
            

            .btn-submit{
                background: linear-gradient(180deg, #5F8D4E 0%, #124731 100%);
                color: white;
                padding: 1% 5%;
                text-align: center;
                border-radius: 5px;
                border: none;
            }

        }
        }

    }

}




footer{

    .div-footer-logo  {
        img
        {
            width: 161px;
        }

        
    }

    
    .footer-about {
        max-width: 70%;
    }
    
    
    background: linear-gradient(180deg, #5F8D4E 0%, #124731 100%);

    .row:first-child{
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding: 2% 10%;
    }
    
    .row:nth-child(2){
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding: 2% 10%;
    }
    
    .row:nth-child(3){
        
        padding: 2% 0%;
    }

    .footer-nav{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
         
        li {
            a{
                color: white;
                font-size: 18px;
            }
        }
    }

    p{
        font-size: 13px;
    }

    .inner-footer-nav{
        list-style: none;
        padding: 0;
        li {
            a{
                color: white;
                font-size: 13px;
            }
        }
    }

    .div-footer-form{

        padding: 7% 0%;

        form{
        
            position: relative;


            input{

                background-color: transparent;
                border: none;
                border-bottom: 1px solid white;
                width: 70%;
                padding: 10px 0px;
            }

            :focus-visible{
                outline: none;

            }
    
            button{
                position: absolute;
                top: 13%;
                left: 53%;


            img{
                width: 55%;
            }
            
            }

        }
        
         
        
    }

    .social-media-icons{

        
        
        margin: 3% 0%;

        a{

            margin: 0% 3%;
            img{

                width:29px ;
                transition: 0.5s;
            }
            
        }


        a:hover img{
            transform: scale(1.1);
        }
    }

    ::placeholder{
        color: white;
        font-size: 13px;
    }


}



@media only screen and (max-width: 540px) {
    .banner h1 {
        font-size: 39px;
    }

.banner .banner-image {
   
    display: none;
}

    .sec-2 .app_image_slider img {
        width: 100%;
    }

    .sec-2 .conten-about {
        padding: 14% 0%;
    }
    
    .div-heading h3 {
        font-size: 35px;
    }

    .sec-3 .div-testimonial {
        width: 100%;
       
         margin:0%; 
    }

    .sec-3 .carousel-indicators {
        flex-direction: row;
        width: 100%;
        bottom: -64px;
        display: none;
        left: -11%;
    }

    

.sec-3 .carousel-indicators .testimoni-2 {
    background-image: url(./image/testimoni-2.png);
    background-size: cover;
}
.sec-3 .carousel-indicators [data-bs-target] {
    margin: 12% 4%;
}

.sec-2 {
    padding: 17% 0%;
}

.sec-2 .row{
    flex-direction: column-reverse;
}

.sec-5 .row{
    flex-direction: column-reverse;
}

.sec-5 .div-image {
    margin: 15% 0%;
}

.sec-5 .col-lg-6 .content h2 {
    font-size: 35px;
}

.sec-6 .contact-form form {
    width: 100%;
     padding: 0%; 
}

.sec-6 .contact-form form textarea {
    height: 93px;
}

  }


  @media only screen and (max-width: 820px){

    .banner h1 {
        font-size: 35px;
    }

    .sec-2 h3 {
        font-size: 35px;
    }

    .sec-5 .col-lg-6 .content h2 {
        font-size: 35px;
    }

    

    .div-heading h3 {
        font-size: 35px;
    }

    .sec-6 .contact-form form {
        width: 100%;
        padding: 0% 2%;
    }


  }